services:
  doodle:
    image: exilesprx/cautious-doodle
    build:
      dockerfile: .docker/Dockerfile
      context: .
      target: dev
    volumes:
        - ./:/var/www:Z
    environment:
      XDEBUG_SESSION: ${XDEBUG_SESSION:-1}
      XDEBUG_CONFIG: ${XDEBUG_CONFIG:-}
      PHP_IDE_CONFIG: ${PHP_IDE_CONFIG:-serverName=storm}
