version: 2.1

executors:
  php-executor:
    docker:
      - image: cimg/php:8.5

jobs:
  build:
    executor: php-executor
    steps:
      - checkout
      - run: php --version
      - run: composer install
      - run: composer test

  security:
    executor: php-executor
    steps:
      - checkout
      - run: composer install
      - run: composer audit


workflows:
  check_and_build:
    jobs:
      - security
      - build
